@media print {
    @page {
        margin: 1cm;
    }

    .page {
        break-before: page;
    }

    img, table, p, span, .image {
        break-inside: avoid;
    }

    .codewords ul {
        max-width: auto !important;
        margin: auto !important;
        list-style-type: "◻ " !important;
        -moz-column-count: 2 !important;
        -moz-column-gap: 100px !important;
        -webkit-column-count: 2 !important;
        -webkit-column-gap: 100px !important;
        column-count: 2 !important;
        column-gap: 100px !important;
    }

    .codewords li {
        font-size: 200% !important;
    }

    .manifest td {
        height: 60px !important;
    }
}

* {
    font-family: 'FreeSerif';
}

.title {
    padding: 100;
    font-family: 'Mathjax_AMS';
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: underline;
    font-size: 300%;
}

.main-title {
    font-size: 400% !important;
}

.map, .attachment {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

:is(h1, h2, h3, h4) {
    font-weight: bold;
    text-align: center;
}

h1 span{
    font-size: xx-large;
}

h2 span {
    font-size: x-large
}

.section-title {
    text-decoration: underline;
}

:not(:is(h1, h2, h3, h4)) {
    text-align: justify;
    font-size: large;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 20;
    width: 80%;
}

td, th {
    text-align: center;
    padding: 10;
}

:is(.stats-sheet, .market) :is(td, th) {
    text-align: center;
    outline: solid;
}

:is(.stats-sheet, .market) th {
    background-color: lightgrey;
}

.fight {
    font-weight: bold;
}

.menu {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 40;
    background-color: lightgrey;
    outline: solid;
    outline-width: 2px;
}

.item, .resurrection, .codewords li {
    font-variant: small-caps;
    font-weight: bold;
}

.codewords ul {
    margin-top: 80px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    list-style-type: "◻ ";
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

.codewords li {
    font-size: x-large;
}

.manifest td {
    height: 45px;
    outline: solid;
}

.sheet .field {
    outline: solid;
    background-color: lightgrey;
    height: 50px;
}

.sheet .large {
    height: 300px;
}

.sheet .medium {
    height: 200px;
}

.sheet .possession {
    height: 50px;
    border-bottom: solid;
}

.sheet .ability {
    height: 70px;
    width: 50px;
}

.sheet table {
    padding: 0 !important;
    width: 100% !important;
}

.sheet-table {
    table-layout: fixed;
    width: 100%;
}

.sheet-column {
    padding: 20;
}
